body {
  }
  h1 {
    color: black;
    padding-left: 50px;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
  }
  h2 {
    color: gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
  }
  img {
      width: 500px;
      height: 500px;
      margin-top: 50px;
      margin-left: 50px;
  }